<div class="container">
  <form (ngSubmit)="onSave()" #airportForm="ngForm">
    <input type="hidden" name="airportid" [(ngModel)]="airport.id">
    <div class="form-group">
      <label for="airportId">Airport</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="airport" id="airportId" placeholder="Airport input"
             required [(ngModel)]="airport.name" #airportName="ngModel"/>
      <div [hidden]="airportName.valid || airportName.pristine" class="alert alert-danger">Field is obligatory</div>
      <label for="cityId">City</label>
      <select [(ngModel)]="airport.cityId" class="form-control" id="cityId" name="cityId" required>
        <option  *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
      </select>
    </div>
    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Go back to Airports list</button>
    <button type="submit" class="btn btn-primary float-right" [disabled]="!airportForm.form.valid">Save</button>
  </form>
</div>

