<div class="container">
  <form (ngSubmit)="onSave()" #countryForm="ngForm">
    <input type="hidden" name="countryid" [(ngModel)]="country.id">
    <div class="form-group">
      <label for="countryId">Country</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="country" id="countryId" placeholder="Country input"
             required [(ngModel)]="country.name" #countryName="ngModel"/>
      <div [hidden]="countryName.valid || countryName.pristine" class="alert alert-danger">Pole jest wymagane</div>

      <label for="continentId">Continent</label>
      <select [(ngModel)]="country.continentId" class="form-control" id="continentId" name="continentId" required>
        <option *ngFor="let continent of continents" [value]="continent.id">{{continent.name}}</option>
      </select>

    </div>
    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Go back to Country list</button>
    <button type="submit" class="btn btn-primary float-right" [disabled]="!countryForm.form.valid">Save</button>
  </form>
</div>
