<h2>Continents</h2>
<a href="/continent-editor" role="button" class="btn btn-success">Add continent</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let continent of continents">
    <td>{{continent.name}}</td>
    <td>
      <!--wywołanie w przeglądarce adresu -->
      <a href="/continent-editor/{{continent.id}}" role="button" class="btn btn-primary btn-sm">Modify</a>

      <a type="button" (click)="onDelete(continent.id)" class="btn btn-danger btn-sm">Delete</a>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
