<div>
<h2>Airports</h2>
<ul class="list-group">
  <a href="/airports-list"><li class="list-group-item">Airports list</li></a>
  <a href="/airport-editor"><li class="list-group-item">Add airport</li></a>
</ul>
<h2>Cities</h2>
<ul class="list-group">
  <a href="/city-list"><li class="list-group-item">Cities list</li></a>
  <a href="/city-editor"><li class="list-group-item">Add city</li></a>
</ul>
<h2>Continents</h2>
<ul class="list-group">
  <a href="/continent-list"><li class="list-group-item">Continents list</li></a>
  <a href="/continent-editor"><li class="list-group-item">Add continent</li></a>
</ul>
<h2>Countries</h2>
<ul class="list-group">
  <a href="/countries-list"><li class="list-group-item">Country list</li></a>
  <a href="/country-editor"><li class="list-group-item">Add country</li></a>
</ul>
<h2>Hotels</h2>
<ul class="list-group">
  <a href="/hotels-list"><li class="list-group-item">Hotels list</li></a>
  <a href="/hotel-editor"><li class="list-group-item">Add hotel</li></a>
</ul>
<h2>Trips</h2>
<ul class="list-group">
  <a href="/trips-list"><li class="list-group-item">Trips list</li></a>
  <a href="/trip-editor"><li class="list-group-item">Add trip</li></a>
</ul>
</div>
