<div class="container">
  <form (ngSubmit)="onSave()" #hotelForm="ngForm">
    <input type="hidden" name="hotelid" [(ngModel)]="hotel.id">
    <div class="form-group">
      <label for="hotelId">Hotel</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="continent" id="hotelId" placeholder="Continent input"
             required [(ngModel)]="hotel.name" #hotelName="ngModel"/>
      <div [hidden]="hotelName.valid || hotelName.pristine" class="alert alert-danger">Pole jest wymagane</div>

    </div>
    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Go back to hotel list</button>
    <button type="submit" class="btn btn-primary float-right" [disabled]="!hotelForm.form.valid">Save</button>
  </form>
</div>
