<h2>Hotels</h2>
<a href="/hotel-editor" role="button" class="btn btn-success">Add hotel</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Standard</th>
    <th scope="col">Description</th>
    <th scope="col">City</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hotel of hotels">
    <td>{{hotel.name}}</td>
    <td>{{hotel.standard}}</td>
    <td>{{hotel.description}}</td>
    <td>{{hotel.city.name}}</td>
    <td>
      <!--wywołanie w przeglądarce adresu -->
      <a href="/hotel-editor/{{hotel.id}}" role="button" class="btn btn-primary btn-sm">Modify</a>

      <a type="button" (click)="onDelete(hotel.id)" class="btn btn-danger btn-sm">Delete</a>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
