<h2>Cities</h2>
<a href="/city-editor" role="button" class="btn btn-success">Add city</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Country</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let city of cities">
    <td>{{city.name}}</td>
    <td>{{city.country.name}}</td>
    <td>
      <!--wywołanie w przeglądarce adresu -->
      <a href="/city-editor/{{city.id}}" role="button" class="btn btn-primary btn-sm">Modify</a>

      <a type="button" (click)="onDelete(city.id)" class="btn btn-danger btn-sm">Delete</a>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
