<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <h1>Welcome to {{ title }}!</h1>

<ul class="nav">
  <li class="nav-item"><a class="nav-link active" routerLink="/dashboard">Dashboard</a></li>
  <br>
  <li class="nav-item"><a class="nav-link" routerLink="/user-list">User List</a></li>
  <br>
  <li class="nav-item"><a class="nav-link" routerLink="/admin-page">Admin</a></li>

</ul>

<!--mechanizm dla routingu-->
<router-outlet></router-outlet>
</div>

