<h2>Airports</h2>
<a href="/airport-editor" role="button" class="btn btn-success">Add airport</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">City</th>
    <th scope="col">Country</th>
    <th scope="col">Continent</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
<!-- TODO: Dlaczego podkreśla na czerwono a wyświetl dobrze?-->
  <tr *ngFor="let aiprort of airports">
    <td>{{aiprort.name}}</td>
    <td>{{aiprort.city.name}}</td>
    <td>{{aiprort.city.country.name}}</td>
    <td>{{aiprort.city.country.continent.name}}</td>
    <td>
      <!--wywołanie w przeglądarce adresu -->
      <a href="/airport-editor/{{aiprort.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
      <a type="button" (click)="onDelete(aiprort.id)" class="btn btn-danger btn-sm">Usuń</a>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
