<div class="container">
  <form (ngSubmit)="onSave()" #cityForm="ngForm">
    <input type="hidden" name="cityid" [(ngModel)]="city.id">
    <div class="form-group">
      <label for="cityId">City</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="city" id="cityId" placeholder="City input"
             required [(ngModel)]="city.name" #cityName="ngModel"/>
      <div [hidden]="cityName.valid || cityName.pristine" class="alert alert-danger">Pole jest wymagane</div>

      <label for="countrytId">Country</label>
      <select [(ngModel)]="city.countryId" class="form-control" id="countrytId" name="continentId" required>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>

    </div>
    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Go back to Continent list</button>
    <button type="submit" class="btn btn-primary float-right" [disabled]="!cityForm.form.valid">Save</button>
  </form>
</div>
