<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>

    <!--let [alias] of [kolekcja]-->
    <!--on sobieo garnia jaki tam jest typ obiektu i mozemy pracowac na jego polach-->
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
    </tr>
    </tbody>
  </table>
</div>
