<h2>Countries</h2>
<a href="/country-editor" role="button" class="btn btn-success">Add country</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Continent</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries">
<!--    Wyswietala dobrze, a swieci się na czerwono-->
    <td>{{country.name}}</td>
    <td>{{country.continent.name}}</td>
    <td>
      <!--wywołanie w przeglądarce adresu -->
      <a href="/country-editor/{{country.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
      <!--przycisk jeszcze nie obsłużony -->
      <a type="button" (click)="onDelete(country.id)" class="btn btn-danger btn-sm">Usuń</a>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
