<div class="container">
  <form (ngSubmit)="onSave()" #continentForm="ngForm">
    <input type="hidden" name="continentid" [(ngModel)]="continent.id">
    <div class="form-group">
      <label for="continentId">Continent</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="continent" id="continentId" placeholder="Continent input"
             required [(ngModel)]="continent.name" #continentName="ngModel"/>
      <div [hidden]="continentName.valid || continentName.pristine" class="alert alert-danger">Pole jest wymagane</div>

    </div>
    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Go back to Continent list</button>
    <button type="submit" class="btn btn-primary float-right" [disabled]="!continentForm.form.valid">Save</button>
  </form>
</div>




